#submit {
    width: 100%;
    position: relative;
    bottom: 20px;
}

#statement {
    margin-top: 40px;
    color: white;
}

#message {
    height: 200px;
    position: relative;
    bottom: 20px;
    background: rgb(248, 247, 247, 0.7);
    border: black groove 2px;
}

#title {
    position: relative;
    bottom: 20px;
    background: rgb(248, 247, 247, 0.7);
    border: black groove 2px;
}







