#title {
    width: 30%;
    margin-left: 550px;
}

#message {
    width: 30%;
    height: 200px;
    font-size: 17px;
    margin-left: 550px;
}

#submit {
    width: 30%;
    margin-left: 550px;
    margin-bottom: 600px;
}

#statement {
    margin-left: 630px;
    font-size: 30px;
}
