.jumbotron {
    background-image: url(../../sunset-1.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    height: 650px;
    color: white;
    border-bottom: rgb(240, 228, 228) solid 3px;
    margin-bottom: 10px;
}

#phocus {
    margin-top: 145px;
}




