.jumbotron {
    background-image: url(../../sunset-1.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    height: 650px;
    color: white;
    border-bottom: rgb(43, 41, 41) solid 3px;
    margin-bottom: 10px;
}

#phocus {
    margin-top: 145px;
}


