.footer {
  /* left: 0;
  bottom: 0; */
  width: 100%;
  background: rgb(255, 114, 19);
  color: white;
  text-align: center;
  margin-top: 20px;
}

#copyright {
    position: relative;
    top: 10px;
}